body {
    font-family: 'Georgia', serif;
    color: white;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-header {
    background-color: #000;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo h1 {
    margin: 0;
    font-size: 2.5em;
}

.site-logo h2 {
    margin: 5px 0 0 0;
    font-size: 1.2em;
    color: #ccc;
}

.menu-button {
    background-color: #000;
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.sidebar {
    background-color: #111;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: -220px; /* Hide the sidebar initially */
    width: 200px;
    height: calc(100% - 100px);
    transition: left 0.3s ease;
    z-index: 1001;
}

.sidebar.open {
    left: 0; /* Show the sidebar when open */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.content {
    margin-left: 0; /* Adjusted to work with collapsible sidebar */
    padding: 120px 20px 20px 20px;
    flex: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}

.sidebar.open ~ .content {
    margin-left: 220px; /* Adjust the content when the sidebar is open */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
